<#import "../layout.ftl" as layout>

<@layout.base>
    <div class='desc'>
        <br />
        <p class='descr'>
            В сферу деятельности компании Prestige-Art входит разработка фирменных
            стилей и дизайн любой полиграфической продукции. Создание, поддержка и
            раскрутка сайтов любой сложности.
            В нашей компании работают только высококвалифицированные специалисты,
            имеющие большой опыт работы в своих областях: дизайн, программирование,
            перевод текстов.
            Компания использует новейшие технологии, что обеспечивает высокий уровень
            выполнения современных требований, предъявляемых к дизайну и разработке
            программного обеспечения.
        </p>

        <div class='descr'>
            Наши преимущества:
            <ul>
                <li>Креативные идеи и дизайн выделяет нашего клиента на фоне его конкурентов</li>
                <li>Низкие цены</li>
                <li>Мы предоставляем 2 года технической гарантии на создаваемые нами сайты</li>
                <li>Мы разрабатываем сайты от 7 рабочих дней</li>
                <li>Мы умеем добиваться нужного Вам результата</li>
                <li>Индивидуальный подход к каждому клиенту</li>
            </ul>
        </div>
    </div>

    <div class='last_pro'>
        <p class='header'>Последние проекты</p>

        <table class='center'>
            <tr>
                <td>
                    <a href='http://ADDRESS1'><img src='/static/img/site/last1.jpg' alt='' /> FineMebel - мебельный магазин</a>
                </td>
                <td>
                    <a href='http://ADDRESS2'><img src='/static/img/site/last2.jpg' alt='' /> Покрывала - магазин белья</a>
                </td>
                <td>
                    <a href='http://ADDRESS3'><img src='/static/img/site/last3.jpg' alt='' /> Косметика Онлайн - магазин</a>
                </td>
            </tr>
        </table>

        <p class='right'>
            <a href='/all' class='all_sites'>Все работы &gt;&gt;</a>
        </p>
    </div>
</@layout.base>
