BODY {
    background: #ffffff;
    padding: 0px;
    margin: 0px;
}

BODY.orange {
    background: url("/static/img/background.png") repeat;
}

A IMG {
    border: none;
}

A:hover {
    color: #FF6600;
}

.main {
    padding: 0px;
    margin: 0px;
}

.home {
    position: absolute;
    top: 38px;
    left: 622px;
}

.mail {
    position: absolute;
    top: 140px;
    left: 521px;
}

TD.top {
    background: #ffffff url('../img/top.jpg') no-repeat;
    height: 270px;
}

TD.mid {
    background: #ffffff url('../img/middle.jpg') no-repeat;
    height: 549px;
}

TD.bot {
    background: #ffffff url('../img/bottom.jpg') no-repeat;
    height: 81px;
}

.itop {
    position: absolute;
    top: 0px;
    left: 0px;
}

.imid {
    position: absolute;
    top: 270px;
    left: 0px;
}

.ibot {
    position: absolute;
    top: 819px;
    left: 0px;
}

.desc {
    position: absolute;
    top:270px;
    left:420px;
    width: 585px;
    font-size: 10pt;
}

.desc P {
    text-indent: 1.5em;
    text-align: justify;
    font-family: sans-serif;
    font-size: 10px;
}

.desc TD {
    font-size: 12px;
}

.descr, P.descr, UL.descr {
    font-size:12px;
    text-align:justify;
}

P.descr IMG {
    vertical-align: middle;
}

INPUT.descr {
    text-indent: 0em;
}

.welcome {
    position: absolute;
    left: 450px;
    top: 240px;
    color: red;
    font-family: sans-serif;
    font-size: 12pt;
    font-weight: bold;
}

.menu2 {
    position: absolute;
    left: 445px;
    top: 820px;
}

.mid1 {
    position: absolute;
    left: 465px;
    top: 460px;
    font: normal 9pt sans-serif;
}

.mid2 {
    position: absolute;
    left: 645px;
    top: 460px;
    font: normal 9pt sans-serif;
}

.mid3 {
    position: absolute;
    left: 825px;
    top: 460px;
    font: normal 9pt sans-serif;
}

.menu_a {
    position: absolute;
    left: 440px;
    top: 195px;
}
.menu_p {
    position: absolute;
    left: 545px;
    top: 195px;
}
.menu_s {
    position: absolute;
    left: 670px;
    top: 195px;
}
.menu_d {
    position: absolute;
    left: 770px;
    top: 195px;
}
.menu_c {
    position: absolute;
    left: 920px;
    top: 195px;
}

.last_pro {
    position: absolute;
    top: 550px;
    left: 450px;
    color: #555555;
    width: 570px;
}

.last_pro A {
    color: #555555;
    font-size: 8pt;
}

.last_pro TD {
    text-align: center;
}

.header {
    font: normal bold 10pt sans-serif;
}

A.all_sites {
    color: #ffffff;
    font-size: 12pt;
}

A.all_sites:hover {
    color: #FF6600;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.flash {
    /*background: radial-gradient(circle, 30px 20px, cover, #fff, #0688a9);*/
    background: radial-gradient(45px 45px, cover, rgb(255, 0, 0) 0%, rgb(0, 0, 255) 100%);
}

.error {
    color: red;
}

.success {
    color: green;
}

DIV.errors {
    border: red 1px solid;
    margin: 15px;
    padding: 5px;
    font-size: inherit;
}

DIV.hidden
{
    border: #000000 1px dotted;
    padding: 4px;
    display: none;
}

.attention {
    font-size: 12px;
    color: red;
    margin: 10px;
}

UL.markerless {
    list-style: none;
    padding: 0;
}
